 <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by nom"
          [(ngModel)]="nom"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchNom()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
   <div class="col-md-6">
      <h4>List Produit</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let produit of produits; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveProduit(produit, i)"
        >
          {{ produit.nom }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllProduits()">
        Supprimer tous
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentProduit">
        <h4>Produit</h4>
        <div>
          <label><strong>Nom:</strong></label> {{ currentProduit.nom }}
        </div>
        <div>
          <label><strong>Prix unitaire:</strong></label>
          {{ currentProduit.prix_unitaire}}
        </div>
        <div>
          <label><strong>Qunatité</strong></label>
          {{ currentProduit.quantite }}
        </div>
  
        <a class="badge badge-warning" routerLink="/produits/{{ currentProduit.id }}">
            Éditer
        </a>
     </div>
  
       <div *ngIf="!currentProduit">
        <br />
        <p>Veuillez cliquer sur un produit...</p>
      </div>
    </div>
  </div>
