<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Angham</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="produits" class="nav-link">Produits</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Ajouter</a>
        </li>
      </div>
    </nav>
  
    <div class="container mt-3">
        <app-list-produit></app-list-produit>
        <app-details-produit></app-details-produit>
        <router-outlet></router-outlet>
    </div>
  </div>